
/* how to do variables: https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
    --green: #78C31E;
    --dark-green: #147818;
    --light-blue: #1A94F9;
    --blue: #0078FA;
    --dark-blue: #0214A4;
    --cream: #FFFDD0;
}

/* pulled from hwk5 */
body {
    background-color: var(--blue);
}

H1 {
    color: var(--dark-green);
    font-size: 200%;
}

H2 {
    color: var(--dark-green);
    text-align: center;
}

#flashes { 
    color: red;
    font-size: large;
	font-style: italic;
}

form {
    display: inline-block;
    border: 2px solid var(--blue);
    padding: 2ex;
    border-radius: 2ex;
    margin-top: 30px;
    width: 250px;
    text-align: center;
}

.exlong {
    margin-bottom: 100px;
}

.long {
    margin-bottom: 20px;
}

/* this isn't working idk why */
.short {
    max-width: 20px;
}

[type=submit] {
    font-size: 1em;
    font-weight: normal;
    border: 1px solid var(--blue);
    border-radius: 0.5em;
    background-color: #d0FFFF;
}

fieldset {
    display: inline-block;
}

#iconlist {
    list-style-type: none;  /* no bullets */
    padding: 0px;
}

#iconlist li {
    display: inline;
}

/* Navigation bar */
/* from: https://www.w3schools.com/css/css_navbar.asp */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--blue);
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: var(--cream);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 10px solid var(--blue);
}
  
li a:hover:not(.active) {
    background-color: var(--dark-green);
    border-bottom: 10px solid var(--dark-green);
}
  
.active {
    background-color: var(--dark-green);
    border-bottom: 10px solid var(--dark-green);
}

.halfactive {
    background-color: var(--blue);
    border-bottom: 10px solid var(--dark-green);
}

.quarteractive {
    background-color: var(--blue);
    border-bottom: 10px dotted var(--dark-green);
}

/* divs */
#content {
    background-color: var(--cream);
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}

#textpad {
    padding-left: 20px;
}

/* For the table */
th {
    min-width: 300px;
}

.small {
    min-width: 100px;
}

th, td {
    text-align: center;
}