{% extends "main.html" %}

{% block navigation %}
    <div id="navigation">
        <ul>
        <li><a href="/">Home</a></li>
        <li><a class="active" href="/achievements/">Search Achievements</a></li>
        <li><a href="/users/">Search Users</a></li>
            {% if isLoggedIn %} <!-- hidden until login -->
                <li><a href="/profile/{{userURL}}/">My Profile</a></li>
                <li><a href="/login/">Log Out</a></li>
            {% else %} <!-- hidden when logged in -->
                <li><a href="/login/">Login</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}


{% block search %}
<form class="searchform" id="searchTop" method=POST action="/achievements/">
    <table>
        <tr><td class="signup"><label>Search:</label></td>
            <td><input id="searchtermTop" placeholder="Search" name="searchterm"></td></tr>
    </table>
    <button id="searchbutton" type="submit" name="submit" value="Search">Search Achievements</button>
</form>
{% endblock %}


{% block feature %}
        <!-- space to add in fun facts feature later -->
{% endblock %}


{% block body %}
    
<!--Handles cases where user searched for an achievement and when there was no search term-->
    {% if title == "" %}
        <h1>Showing All Achievements:</h1>
    {% else %}
        <h1>Showing Achievements Matching <i>{{title}}</i>:</h1>
    {% endif %}
    
    <table id="achieves">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th class="small">Repeatable</th>
            {% if isLoggedIn %}
                <th class="small">Star Achievement</th>
            {% endif %}
        </tr>
        
        <!--iterate over achievements in the search results and display them in a table-->
        {% for achievement in achievements %}
        {% set aID = achievement['AID'] %}
        {% set repeatable = achievement['isRepeatable'] %}
        <tr data-tt="{{aID}}">
            <td><a href="{{url_for('achieveinfo', AID = achievement['AID'])}}">{{achievement['title']}}</a></td>
            <td>{{achievement['description']}}</td>
            <td class="small"> 
                {% if repeatable == 1 %}
                    Yes
                {% else %}
                    No
                {% endif %}</td>

            <!-- display button for starring achievements -->
            {% if isLoggedIn %}
                <!-- user has it, it's repeatable, and it's self-reportable -->
                {% if aID in reps %}
                    <td class="small"><button class="star-button"><a>Remove Star</a></button></td>
                <!-- user doesn't have it, it's repeatable, and it's self-reportable -->
                {% else %}
                    <td class="small"><button class="star-button"><a>Add Star</a></button></td>
                {% endif %}
            {% endif %}
            
        </tr>
        {% endfor %}
    </table>
{% endblock %}