{% extends "main.html" %} 

{% block body %} 
<h1>Achievement # {{achieveID}} : {{info['title']}}</h1>
<!-- Display the description-->
<p>{{info['description']}}</p>
<!-- Allow the user to check this as completed-->
{%  if info['isSelfReport'] == 1: %}
    <p> Did you complete this achievement?</p>
    <button class="report-button">Yes!</button>
{% endif %}
<!-- implement an undo function if they accidentally mark as completed-->

<!-- Display all the people who have completed this achievement-->
{% if users |length != 0: %}

<h2>User's who have reached this achievement!</h2> 

<table id= "achievers"> 
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th> number of times achieved </th>
    </tr>

    {% for user in users %}
    <tr data-id = ""> 
        <td id ="first">{{user['first_Name']}}</td>
        <td id ="last">{{user['last_Name']}}</td>
        <td id ="count">1</td>
    </tr>
    {% endfor %}

</table>

{% else %}

<h2>Be the first to reach this achievement!</h2>

{% endif %}


{% endblock %}

{% block JSJQ %}
<!-- need delegated handler to go to the right page -->
<!-- each self-reported achievement has its own generated page with some info -->
<!-- unimplemented -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{url_for('static',filename='achievements.js')}}"></script>
{% endblock %}