{% extends "main.html" %}
<!-- import "databaseAccess.py" as dbAccess -->

{% block navigation %}
    <div id="navigation">
        <ul>
        <li><a href="/">Home</a></li>
        <li><a class="active" href="/achievements/">Search Achievements</a></li>
            {% if isLoggedIn != None %} <!-- hidden until login -->
                <li><a href="/profile/{{userURL}}/">My Profile</a></li>
                <li><a href="/login/">Log Out</a></li>
            {% else %} <!-- hidden when logged in -->
                <li><a href="/login/">Login</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}


{% block search %}
<form id="search" method=POST action="/achievements/">
    <input id="searchterm" placeholder="Search" name="searchterm">
    <button id="searchbutton" type="submit" name="submit" value="Search">Search</button>
</form>
{% endblock %}


{% block feature %}
        <!-- a different fun fact goes here -->
{% endblock %}


{% block body %}
    
    {% if title == "" %}
        <h1>Showing All Achievements:</h1>
    {% else %}
        <h1>Showing Achievements matching <i>{{title}}</i>:</h1>
    {% endif %}
    
    <table id="achieves">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th class="small">Repeatable</th>
            {% if isLoggedIn != None %}
                <th class="small">Self-Report</th>
            {% endif %}
        </tr>
        
        
        {% for achievement in achievements %}
        {% set aID = achievement['AID'] %}
        <tr data-tt="{{aID}}">
            <td class="title">{{achievement['title']}}</td>
            <td class="description">{{achievement['description']}}</td>
            <td class="repeatable">
                {% if achievement['isRepeatable'] == 1 %}
                    Yes
                {% else %}
                    No
                {% endif %}</td>
            {% if isLoggedIn != None %} <!-- and dbAccess.determineIsReportable(DB, aID, isLoggedIn) -->
                <td><button class="report-button">Go!</button></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}


{% block footerSearch %}
    <form id="search" method=POST action="/achievements/">
        <input id="searchterm" placeholder="Search" name="searchterm">
        <button id="searchbutton" type="submit" name="submit" value="Search">Search</button>
    </form>
{% endblock %}


{% block JSJQ %}
<!-- need delegated handler to go to the right page -->
<!-- each self-reported achievement has its own generated page with some info -->
<!-- unimplemented -->
{% endblock %}