{% extends "achievementSearch.html" %} 

{% block body %} 
<h1>Achievement # {{achieveID}} : {{info['title']}}</h1>
<!-- Display the description-->
<p>{{info['description']}}</p>
<!-- Allow the user to check this as completed-->
{%  if info['isSelfReport'] == 1 and thisUser != None: %}
    <!-- <p>{{user}}</p> -->
    {% if completed: %}
    <p id = "completed">Congrats! You've completed this achievement!</p>>
    <button data-tt="{{achieveID}}" class="reset-button">reset</button>
    
    <!-- add a form here to collect the user's data -->
    <form id = "self-report" method=POST action="{{url_for('updateRepeatedAchiev')}}">
        <input type="number" name="new_count" placeholder="{{count}}">
        <input type= "hidden" name="aid" value="{{achieveID}}">
        <button type="submit" name="submit">Update</button>
    </form>

    {% else %}
    <p id = "completed">Did you complete this achievement?</p>>
    <button data-tt="{{achieveID}}" class="report-button">Yes!</button>
    <!-- right a script here to hide the reset button???????? -->
    {% endif %}
    <p>{{logged_in}}</p>
{% endif %}
<!-- implement an undo function if they accidentally mark as completed-->

<!-- Display all the people who have completed this achievement-->
{% if users |length != 0: %}
    <h2 id = "users_list">Users who have reached this achievement!</h2> 
    <div id="hideshow" class="visible">
{% else %}
    <h2 id = "no_users_yet">Be the first to reach this achievement!</h2>
    <div id="hideshow" class="tempinvisible">
{% endif %}
<!-- if else, so there's only one div with id "hideshow" at a time -->

<table id= "achievers">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
        <th> number of times achieved </th>
    </tr>

    {% for user in users %}
    <tr data-id = "{{user['AID']}}"> 
        <td><span class="first">{{user['first_Name']}}</span></td>
        <td class="last">{{user['last_Name']}}</td>
        <td class="username"><a href="{{url_for('searchedProfile', user=user['username'])}}">{{user['username']}}</a></td>
        <td class="count">{{user['count']}}</td>
    </tr>
    {% endfor %}

</table>
</div> <!-- end of tempinvisible or visible div -->
<!-- depends on if users have completed this achievement previously -->

{% endblock %}

{% block JSJQ %}
<script>
var URL = "{{url_for('updateCompleted')}}";
var URL2 = "{{url_for('resetAchieveAjax')}}";
</script>
<script src="{{url_for('static',filename='achievements.js')}}"></script>
{% endblock %}