{% extends "login.html" %} 
<!--only gets loaded when the user isn't logged in and wants to log in now-->

{% block body %}

<h1>{{title}}</h1>

<form action="{{url_for('setUID')}}" method="POST">
    <div id="wrapper2">
        <label><div id="left2" class="signup">Username</div>
               <div id="right"><input type="text" name="username"></div></label>
    </div>
    <div id="wrapper2">
        <label><div id="left2" class="signup">Password</label></div>
               <div id="right"><input type="password" name="password"></div></label>
    </div>
        <input type="submit" value="Log In">
</form>

<p>Don't have an account yet? <a href="{{url_for('signup')}}">Sign up here!</a></p>

{% endblock %}