{% extends "login.html" %} 
<!--only gets loaded when the user isn't logged in and wants to log in now-->
<!--still a lot of UI work to be done here but the skeleton is done-->

{% block body %}

<h1>{{title}}</h1>

<form action="{{url_for('setUID')}}" method="POST">
    
    <label>Username:<input type="text" name="username"></label>
    <label>Password: <input type="password" name="password"></label>
    <input type="submit" value="Log In">
</form>

<p>Don't have an account yet? <a href="{{url_for('signup')}}">Sign up here!</a></p>

{% endblock %}