{% extends "login.html" %} 
<!--only gets loaded when the user isn't logged in and wants to log in now-->
<!--still a lot of UI work to be done here but the skeleton is done-->

{% block body %}

<form action="{{url_for('setUID')}}" method="POST">
    Username: <input type="text" name="username" label="username">
    Password: <input type="password" name="password" label="username">
    <input type="submit" value="Log In">
</form>

<p>Don't have an account yet? Sign up <a href="{{url_for('signup')}}">here!</a></p>

{% endblock %}