<!-- main HTML file that most templates inherit from -->
<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name=author content="Ellie Czepiel, Estrella Garcia, & Alissa Tinney">
    <title>Fueling Change</title>
    <link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}">
     
</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <div id="content">
    <div id="textpad">
    {% block navigation %}
        <div id="navigation">
            <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/achievements/">Search Achievements</a></li>
            <li><a href="/users/">Search Users</a></li>
                {% if isLoggedIn %} <!-- hidden until login -->
                    <li><a href="/profile/{{userURL}}/">My Profile</a></li>
                    <li><a href="/login/">Log Out</a></li>
                {% else %} <!-- hidden when logged in -->
                    <li><a href="/login/">Login</a></li>
                {% endif %}
            </ul>
        </div>
    {% endblock %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div id="messages">
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
        </div>
    {% endif %}
{% endwith %}
    
    <div id="slide">
        <script>
            var x = document.getElementById("slide");
            if(x.style.display==="none"){
                x.style.display = "block";
    
            }
            else{
                x.style.display = "none";
            }           
            ;
        </script>
    {% block search %}
    <!-- search feature goes here-->
    {% endblock %}

    {% block feature %}
        <!-- fun fact goes here -->
    {% endblock %}
    
    {% block body %}
    <h1>{{title}}</h1>
    
    <p>
        Welcome to Fueling Change. Select from the options above to interact with our website.
    </p>
    {% endblock %}

    {% block footerSearch %}
    {% endblock %}
    </div> <!-- end of textpad div -->
    </div> <!-- end of content div -->
    </div> <!-- end of slide div -->

    <div id="picture">
    {% block picture %}
        <!-- place for scenic picture to go here later -->
    {% endblock %}
    </div> <!-- end of picture div -->


    <!-- Sliding! -->
    <script>
        $('#slide').slideDown(500);
    </script>

{% block JSJQ %}
{% endblock %}


</body>
</html>