{% extends "main.html" %} 
<!-- Three different load cases: -->
<!-- (1) Their account and user logged IN -->
<!-- (2) Another account and user logged IN -->
<!-- (3) Any account and user logged OFF -->

{% block navigation %}
    <div id="navigation">
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/achievements/">Search Achievements</a></li>
            {% if {{isLoggedIn}} and {{isUser}} %} <!-- hidden until login -->
                <li><a class="active" href="/profile/">My Profile</a></li>
                <li><a href="/login/">Log Out</a></li>
            {% elif {{isLoggedIn}} %}
                <li><a href="/login/">Log Out</a></li>
            {% else %} <!-- hidden when logged in -->
                <li><a href="/login/">Login</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}