{% extends "main.html" %} 
<!-- 2 different load cases: -->
<!-- (1) Their account and logged in -->
<!-- (2) Another account OR their account and not logged in -->

{% block navigation %}
    <div id="navigation">
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/achievements/">Search Achievements</a></li>
        <li><a href="/users/">Search Users</a></li>
            {% if thisUser and request.method == "GET" %} <!-- hidden until login -->
                <li><a class="active" href="/profile/{{userURL}}/">My Profile</a></li>
                <li><a href="/login/">Log Out</a></li>
            {% elif thisUser %} <!-- hidden until login -->
                <li><a class="halfactive" href="/profile/{{userURL}}/">My Profile</a></li>
                <li><a href="/login/">Log Out</a></li>
            {% elif isLoggedIn != None %}
                <li><a class="quarteractive" href="/profile/{{userURL}}/">My Profile</a></li>
                <li><a href="/login/">Log Out</a></li>
            {% else %} <!-- hidden when logged in -->
                <li><a class="quarteractive" href="/profile/{{userURL}}/">My Profile</a></li>
                <li><a href="/login/">Login</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}


{% block body %}
    {% if request.method == "GET" %}
        <!-- (1) their own account and logged in -->
        <h1>Hi {{title}}</h1> 
        <p>Your current emissions are {{emissions}} kilograms of carbon dioxide per year</p>
        <p>What would you like to do today?</p>

        <form id="reporting" method=POST action="/useraction/{{userURL}}/">
            <button id="reportbtn" class="report-button" type="submit" name="submit" value="report">Report Achievements</button>
        </form>

        <form id="achieving" method=POST action="/profile/{{userURL}}/">
            <button id="reportbtn" class="report-button" type="submit" name="submit" value="stats">View My Statistics</button>
            <!-- statistics also includes achievements -->
        </form>

    <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
    <!-- (2) Another account OR their account and not logged in -->
    {% else %}
    <h1>Viewing {{title}}'s Achievements</h1>
        <!-- user statistics, percentiles, and footprint -->
        <!-- footprint here -->
        <p>Emissions: {{emissions}} kilograms of carbon dioxide per year</p>
        
        <!-- use a class="exlong" for whatever the largest element is -->
        <!-- completed achievements -->
        <div class="centerme">
        <h2><u>Completed Achievements</u></h2>
        <table class="exlong" id="completedAchieves">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Count</th>
            </tr>
            
            {% for achievement in compAchis %}
            {% set aID = achievement['AID'] %}
            <tr data-tt="{{aID}}">
                <td class="title">{{achievement['title']}}</td>
                <td class="description">{{achievement['description']}}</td>
                <td class="count">{{achievement['count']}}</td>
            </tr>
            {% endfor %}
        </table>

        <!-- starred achievements -->
        <h2><u>Starred Achievements</u></h2>
        <table id="starredAchieves">
            <tr>
                <th>Title</th>
                <th>Description</th>
            </tr>
            
            {% for achievement in starAchis %}
            {% set aID = achievement['AID'] %}
            <tr data-tt="{{aID}}">
                <td class="title">{{achievement['title']}}</td>
                <td class="description">{{achievement['description']}}</td>
            </tr>
            {% endfor %}
        </table>
        </div> <!-- end of centerme div -->
    {% endif %}
{% endblock %}