{% extends "userSearch.html" %}

{% block body %}
    {% if request.method == "GET" %}
        
        <h1>Viewing {{title}}'s Achievements</h1>
        <!-- user statistics, percentiles, and footprint -->
        <!-- footprint here -->
        <p>Emissions: {{emissions}} kilograms of carbon dioxide per year</p>
        
        <!-- use a class="exlong" for whatever the largest element is -->
        <!-- completed achievements -->
        <div class="centerme">
        <h2>Completed Achievements</h2>
        <table class="exlong" id="completedAchieves">
            <tr>
                <th class="small">Earned</th>
                <th>Title</th>
                <th class="wide">Description</th>
            </tr>
            
            {% for achievement in compAchis %}
            {% set aID = achievement['AID'] %}
            {% if loop.index % 2 != 0 %}
                <tr class="colored" data-tt="{{aID}}">
            {% else %}
                <tr data-tt="{{aID}}">
            {% endif %}
                <td class="count">
                    {% if achievement['isRepeatable']==1 %}
                        <b>{{achievement['count']}}</b>
                    {% else %}
                        &#x2714; <!-- checkmark -->
                    {% endif %}
                </td>
                <td class="title"><b><a href="{{url_for('achieveinfo',AID=aID)}}">{{achievement['title']}}</a></b></td>
                <td class="description">{{achievement['description']}}</td>
            </tr>
            {% endfor %}
        </table>

        <!-- starred achievements -->
        <h2>Starred Achievements</h2>

        {% if starAchis|length != 0 %}
            <div class="visible">
        {% else %}
            <p>This user has no starred achievements.</p>
            <div class="tempinvisible">
        {% endif %}

        <table id="starredAchieves">
            <tr>
                <th>Title</th>
                <th class="wide">Description</th>
            </tr>
            
            {% for achievement in starAchis %}
            {% set aID = achievement['AID'] %}
            {% if loop.index % 2 != 0 %}
                <tr class="colored" data-tt="{{aID}}">
            {% else %}
                <tr data-tt="{{aID}}">
            {% endif %}
                <td class="title"><b><a href="{{url_for('achieveinfo',AID=aID)}}">{{achievement['title']}}</a></b></td>
                <td class="description">{{achievement['description']}}</td>
            </tr>
            {% endfor %}
        </table>
        </div> <!-- end of div with class tempinvisible or visible -->
        </div> <!-- end of centerme div -->
    {% endif %}
{% endblock %}