{% extends "login.html" %} 
<!--user wants to sign up-->
<!--still a lot of UI work to be done here but the skeleton is done-->
<!--this is not the same template as login_page because eventually it'll have 
carbon footprint questions on it too-->

{% block body %}
<h1>{{title}}</h1>

<form class="regular" action="{{url_for('signup')}}" method="POST">
    <div id="wrapper2">
        <label><div id="left2" class="signup">Username</div>
            <div id="right"><input type="text" name="username" label="username"></div></label>
        </div>
    <div id="wrapper2">
        <label><div id="left2" class="signup">Password</div>
            <div id="right"><input type="password" name="password1" label="username"></div></label>
        </div>
    <div id="wrapper2">
        <label><div id="left2" class="signup">Re-type Password</div>
            <div id="right"><input type="password" name="password2" label="username"></div></label>
        </div>
    <div id="wrapper2">
        <label><div id="left2" class="signup">First Name</div>
            <div id="right"><input type="firstName" name="firstName" label="firstName"></div></label>
        </div>
    <div id="wrapper2">
        <label><div id="left2" class="signup">Last Name</div>
            <div id="right"><input type="lastName" name="lastName" label="lastName"></div></label>
        </div>
    <input type="submit" value="Sign Up">
</form>

{% endblock %}