{% extends "login.html" %} 
<!--user wants to sign up-->
<!--still a lot of UI work to be done here but the skeleton is done-->
<!--this is not the same template as login_page because eventually it'll have 
carbon footprint questions on it too-->

{% block body %}
<h1>{{title}}</h1>

<form class="medform" action="{{url_for('signup')}}" method="POST">
    <table>
        <tr><td class="signup"><label>Username:</label></td>
            <td><input type="text" name="username" label="username"></td></tr>
        <tr><td class="signup"><label>Password:</label></td>
            <td><input type="password" name="password1" label="username"></td></tr>
        <tr><td class="signup"><label>Re-type Password:</label></td class="wide">
            <td><input type="password" name="password2" label="username"></td></tr>
        <tr><td class="signup"><label>First Name:</label></td>
            <td><input type="firstName" name="firstName" label="firstName"></td></tr>
        <tr><td class="signup"><label>Last Name:</label></td>
            <td><input type="lastName" name="lastName" label="lastName"></td></tr>
    </table>
    <input type="submit" value="Sign Up">
</form>

{% endblock %}