{% extends "login.html" %} 
<!--user wants to sign up-->
<!--still a lot of UI work to be done here but the skeleton is done-->
<!--this is not the same template as login_page because eventually it'll have 
carbon footprint questions on it too-->

{% block body %}

<form action="{{url_for('signup')}}" method="POST">
    Username: <input type="text" name="username" label="username">
    Password: <input type="password" name="password1" label="username">
    Re-type Password: <input type="password" name="password2" label="username">
    First Name: <input type="firstName" name="firstName" label="firstName">
    Last Name: <input type="lastName" name="lastName" label="lastName">
    <input type="submit" value="Sign Up">
</form>

{% endblock %}