
<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name=author content="Ellie Czepiel, Estrella Garcia, & Alissa Tinney">
    <title>Movies Application</title>
    <link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}">
     
</head>

<body>
    <div id="content">
    <div id="textpad">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% block navigation %}
        <div id="navigation">
            <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/achievements/">Search Achievements</a></li>
                {% if {{isLoggedIn}} %} <!-- hidden until login -->
                    <li><a href="/profile/">My Profile</a></li>
                    <li><a href="/login/">Log Out</a></li>
                {% else %} <!-- hidden when logged in -->
                    <li><a href="/login/">Login</a></li>
                {% endif %}
            </ul>
        </div>
    {% endblock %}
    
    {% block search %}
    {% endblock %}

    {% block feature %}
        <!-- fun fact goes here -->
    {% endblock %}

    {% block flashing %}
        <!-- any flashes we want go here -->
    {% endblock %}
    
    <h1>{{title}}</h1>
    {% block body %}
    
    
    <p>
        Welcome to Fueling Change. Select from the options above to interact with our website.
    </p>
    {% endblock %}
    </div> <!-- end of textpad div -->
    </div> <!-- end of content div -->

    {% block footerSearch %}
    {% endblock %}

    <div id="picture">
    {% block picture %}
        <!-- place for scenic picture go here -->
    {% endblock %}
    </div> <!-- end of picture div -->

{% block JSJQ %}
{% endblock %}


</body>
</html>