{% extends "achievementSearch.html" %}

{% block navigation %}
    <div id="navigation">
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/achievements/">Search Achievements</a></li>
        <li><a class="active" href="/users/">Search Users</a></li>
            {% if isLoggedIn %} <!-- hidden until login -->
                <li><a href="/profile/{{userURL}}/">My Profile</a></li>
                <li><a href="/login/">Log Out</a></li>
            {% else %} <!-- hidden when logged in -->
                <li><a href="/login/">Login</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}


{% block search %}
<form id="uSearch" method=POST action="/useraction/">
    <input id="searchterm" placeholder="Search" name="searchterm">
    <button id="reportbtn" class="report-button" type="submit" name="submit" value="userSearch">Search Users</button>
</form>
{% endblock %}


{% block feature %}
        <!-- space to add in fun facts feature later -->
{% endblock %}


{% block body %}
    
<!--Handles cases where user searched for an achievement and when there was no search term-->
    {% if title == "" %}
        <h1>Showing All Achievements:</h1>
    {% else %}
        <h1>Showing Achievements matching <i>{{title}}</i>:</h1>
    {% endif %}
    
    <table id="achieves">
        <tr>
            <th>Name</th>
            <th>Username</th> <!--link on this.-->
            <th>Footprint</th>
        </tr>
        
        <!--iterate over users in the search results and display them in a table-->
        {% for usr in users %}
        <tr>
            <td><a href="{{url_for('achieveinfo', AID = achievement['AID'])}}">{{achievement['title']}}</a></td>
            <td>{{achievement['description']}}</td>
            <td class="small"> 
                {% if repeatable == 1 %}
                    Yes
                {% else %}
                    No
                {% endif %}</td>
            
                <!-- <td class = "small">
                    <form method="POST" action="{{url_for('achieveinfo', AID = achievement['AID'])}}">
                        <button type = "submit" class="report-button">Go!</a></button>
                    </form>
                </td> -->

                <!-- <td><button class="go_button"><a href="{{url_for('achieveinfo', AID = achievement['AID'])}}">Go!</a></button></td> -->
                <!-- <td><button class="report_button">Go!</a></button></td> -->

       
           {% if isLoggedIn != None %}
                <!-- user has it, it's repeatable, and it's self-reportable -->
                {% if aID in reps and repeatable == 1 and achievement['isSelfReport'] == 1 %}
                    <td class="small"><button class="report-button"><a window.location.href="{{url_for('achieveinfo', AID = achievement['AID'])}}">Go!</a></button></td>
                <!-- user doesn't have it, it's repeatable, and it's self-reportable -->
                {% elif repeatable == 1 and achievement['isSelfReport'] == 1 %}
                    <td class="small"><button class="report-button"><a window.location.href="{{url_for('achieveinfo', AID = achievement['AID'])}}">Go!</a></button></td>
                <!-- user doesn't have it and it's self-reportable -->
                {% elif not aID in reps and achievement['isSelfReport'] == 1 %}
                    <td class="small"><button class="report-button"><a window.location.href="{{url_for('achieveinfo', AID = achievement['AID'])}}">Go!</a></button></td>
                {% endif %}
            {% endif %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}



{% block JSJQ %}
<!-- need delegated handler to go to the right page -->
<!-- each self-reported achievement has its own generated page with some info -->
<!-- unimplemented -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{url_for('static',filename='achievements.js')}}"></script>
{% endblock %}