{% extends "achievementSearch.html" %}

{% block navigation %}
    <div id="navigation">
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/achievements/">Search Achievements</a></li>
        <li><a class="active" href="/users/">Search Users</a></li>
            {% if isLoggedIn %} <!-- hidden until login -->
                <li><a href="/profile/{{userURL}}/">My Profile</a></li>
                <li><a href="/login/">Log Out</a></li>
            {% else %} <!-- hidden when logged in -->
                <li><a href="/login/">Login</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}


{% block search %}
<form id="uSearch" method=POST action="/users/">
    <label>Search: <input id="searchterm" placeholder="Search" name="searchterm"></label>
    <button id="reportbtn" class="report-button" type="submit" name="submit" value="userSearch">Search Users</button>
</form>
{% endblock %}


{% block body %}    
<!--Handles cases where user searched for an achievement and when there was no search term-->
    {% if title == "" %}
        <h1>Search for Users Above</h1>
    {% else %}
        <h1>Showing Users Matching <i>{{title}}</i>:</h1>
    {% endif %}
    
    <table id="searchedUsers">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th> <!--link on this.-->
            <!-- <th>Footprint</th> -->
        </tr>
        
        <!--iterate over users in the search results and display them in a table-->
        {% if title != "" %}
            {% for usr in users %}
            <tr>
                <td>{{usr['first_Name']}}</td>
                <td>{{usr['last_Name']}}</td>
                <td><a href="{{url_for('searchedProfile', user = usr['username'])}}">{{usr['username']}}</a></td>
            </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock %}