{% extends "profile.html" %} 
<!-- Two different load cases: -->
<!-- (1) User pressed report button on profile page -->
<!-- (2) User pressed find user button on profile page -->

{% block navigation %}
    <div id="navigation">
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/achievements/">Search Achievements</a></li>
            {% if isUser %} <!-- hidden until login -->
                <li><a class="halfactive" href="/profile/{{userURL}}/">My Profile</a></li>
                <li><a href="/login/">Log Out</a></li>
            {% elif isLoggedIn != None %}
                <li><a class="quarteractive" href="/profile/{{userURL}}/">My Profile</a></li>
                <li><a href="/login/">Log Out</a></li>
            {% else %} <!-- hidden when logged in -->
                <li><a class="quarteractive" href="/profile/{{userURL}}/">My Profile</a></li>
                <li><a href="/login/">Login</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}

{% block flashing %}
    <!-- flashes for unfruitful searches go here -->
{% endblock %}

{% block body %}
    {% if request.form['submit'] == 'report' %}
    <!-- (1) THIS IS WHERE THE USER CAN INSERT SELF-REPORTED INFORMATION -->
    <!-- success sends them back to the main profile -->
    <h1>Add Achievement</h1>
    <form id="search" method=POST action="/profile/{{userURL}}/">
        <table>
        <tr><td class="forform"><button id="reportbtn" class="report-button" type="submit" name="report" value="report">Report Achievements</button></td>
        <td class="forform"><button id="reportbtn" class="report-button" type="submit" name="achieve" value="stats">View Statistics</button></td></tr>

        <tr><td><input id="searchterm" placeholder="Search" name="searchterm"></td>
        <td><button id="reportbtn" class="report-button" type="submit" name="userSearch" value="userSearch">Search for User</button></td></tr>
        </table>
    </form>
    
    {% else %}
    <!-- (2) THIS IS WHERE THE USER CAN SEARCH FOR OTHER USERS -->
    <!-- this submission shows a list of linked users that match the search -->
    <!-- if user doesn't exist, list is empty and flash to tell them this -->
    <!-- link format: /profile/searchedfirstname-searchedlastname-searchedUID -->
    <h1>Search for User</h1>

    <!-- they can search again if they want -->
    <form id="uSearch" method=POST action="/useraction/{{userURL}}/">
        <input id="searchterm" placeholder="Search" name="searchterm">
        <button id="reportbtn" class="report-button" type="submit" name="userSearch" value="userSearch">Search for User</button>
    </form>

    <!-- set the searched variable true if people found -->
    
    <!-- list of users that the search found -->

    {% endif %}

{% endblock %}