{% extends "achievementSearch.html" %}

{% block navigation %}
    <div id="navigation">
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/achievements/">Search Achievements</a></li>
        <li><a class="active" href="/users/">Search Users</a></li>
            {% if isLoggedIn %} <!-- hidden until login -->
                <li><a href="{{url_for('profile', username = userURL)}}">My Profile</a></li>
                <li><a href="/login/">Log Out</a></li>
            {% else %} <!-- hidden when logged in -->
                <li><a href="/login/">Login</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}


{% block search %}
<form class="searchform" id="uSearch" method=POST action="/users/">
    <table>
        <tr><td class="signup"><label>Search:</label></td>
            <td><input id="searchterm" placeholder="Search" name="searchterm"></td></tr>
    </table>
    <button id="reportbtn" class="report-button" type="submit" name="submit" value="userSearch">Search Users</button>
</form>
{% endblock %}


{% block body %}    
<!--Handles cases where user searched for a user and when there was no search term-->
    {% if title == "" and request.form['submit'] == 'userSearch' %}
        <h1>Showing All Users:</h1>
    {% elif title == "" %}
        <h1>Leadership Board:</h1>
        <p>Search for users above.</p> 
    {% else %}
        <h1>Showing Users Matching <i>{{title}}</i>:</h1>
    {% endif %}
    
    <table id="searchedUsers">
        <tr>
            {% if title == "" and request.form['submit'] != 'userSearch' %}
                <th class="small">Rank</th>
            {% endif %}
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th> <!--link on this.-->
            <th>Footprint (<sup>CO<sub>2</sub> kg</sup>&frasl;<sub>year</sub>)</th>
        </tr>
        
        <!--iterate over users in the search results and display them in a table-->
        {% for usr in users %}
            {% if loop.index % 2 != 0 %}
                <tr class="colored">
            {% else %}
                <tr>
            {% endif %}
                {% if title == "" and request.form['submit'] != 'userSearch' %}
                    <td><b>{{loop.index}}</b></td>
                {% endif %}
                <td>{{usr['first_Name']}}</td>
                <td>{{usr['last_Name']}}</td>
                <td><b><a href="{{url_for('searchedProfile', user = usr['username'])}}">{{usr['username']}}</a></b></td>
                <td>{{usr['footprint']}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}