{% extends "profile.html" %} 
<!-- Two different load cases: -->
<!-- (1) User pressed report button on profile page -->
<!-- (2) User pressed find change button on profile page -->

{% block navigation %}
    <div id="navigation">
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/achievements/">Search Achievements</a></li>
        <li><a href="/users/">Search Users</a></li>
            {% if thisUser %} <!-- hidden until login -->
                <li><a class="halfactive" href="/profile/{{userURL}}/">My Profile</a></li>
                <li><a href="/login/">Log Out</a></li>
            {% elif isLoggedIn != None %}
                <li><a class="quarteractive" href="/profile/{{userURL}}/">My Profile</a></li>
                <li><a href="/login/">Log Out</a></li>
            {% else %} <!-- hidden when logged in -->
                <li><a class="quarteractive" href="/profile/{{userURL}}/">My Profile</a></li>
                <li><a href="/login/">Login</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}

{% block body %}
    {% if request.form['submit'] == 'report' %}
    <!-- (1) THIS IS WHERE THE USER CAN INSERT SELF-REPORTED INFORMATION -->
    <!-- fields should be autofilled -->

    <h1>Update Carbon Information</h1>
    <!-- How they add more data or insert data for the first time -->
    <div class="centerme">
    <form class="bigform" id="update" method=POST action="/useraction/report/{{userURL}}/">
        <table>
        <tr><td class="forform"><label>Flights: <input type="number" id="flights" placeholder="Annual Flight Mileage" name="flights"></label></td></tr>
        <tr><td class="forform"><label>Drives: <input type="number" id="drives" placeholder="Monthly Driving Mileage" name="drives"></label></td></tr>
        
        <tr><td class="forform"><fieldset>
            <legend>Car Type</legend>
            <label class="space">
                <input required type="radio" name="cartype" value="gas">
                GAS
            </label>
            <label class="space">
                <input required type="radio" name="cartype" value="hybrid">
                HYBRID
            </label>
            <label>
                <input required type="radio" name="cartype" value="electric">
                ELECTRIC
            </label>
            </fieldset>
        </td></tr>

        <tr><td class="forform"><label>Lamb: <input type="number" id="lamb" placeholder="Lamb Servings per Week" name="lamb"></label></td></tr>
        <tr><td class="forform"><label>Beef: <input type="number" id="beef" placeholder="Beef Servings per Week" name="beef"></label></td></tr>
        <tr><td class="forform"><label>Cheese: <input type="number" id="cheese" placeholder="Cheese Servings per Week" name="cheese"></label></td></tr>
        <tr><td class="forform"><label>Pork: <input type="number" id="pork" placeholder="Pork Servings per Week" name="pork"></label></td></tr>
        <tr><td class="forform"><label>Turkey: <input type="number" id="turkey" placeholder="Turkey Servings per Week" name="turkey"></label></td></tr>
        <tr><td class="forform"><label>Chicken: <input type="number" id="chicken" placeholder="Chicken Servings per Week" name="chicken"></label></td></tr>
        <tr><td class="forform"><label>Laundry: <input type="number" id="laundry" placeholder="Laundry per Week" name="laundry"></label></td></tr>

        <tr><td class="forform"><fieldset>
            <legend>Typical Drying Style</legend>
                <label class="space">
                    <input required type="radio" name="drytype" value="dryer">
                    DRYER
                </label>
                <label class="space">
                    <input required type="radio" name="drytype" value="air dry">
                    AIR DRY
                </label>
                </fieldset>
            </td></tr>

        <tr><td class="forform">
            <button id="updatebtn" type="submit" name="submit" value="updateInfo">Submit!</button>
        </td></tr>

        </table>
    </form>
    </div> <!-- end of centerme div -->
    
    <!-- ------------------------------------------- -->
    {% elif request.form['submit'] == 'upload' %}
    <!-- (2) THIS IS WHERE THE USER CAN UPLOAD A PROFILE IMAGE -->
    <h1>Change Profile Photo</h1>
    <!-- How they add more data or insert data for the first time -->
    <div class="centerme">
        <form class="exwide" action="{{url_for('upload_file', username=userURL)}}" method="post" enctype="multipart/form-data">
        <table>
            <tr><td class="signup"><label>Select Image File to Upload:</label></td>
                <td><input type="file" name="file"></td>
                <td><button id="updatebtn" type="submit" name="submit" value="updateInfo">Submit!</button></td></tr>
        </table>
            <!-- <input type="submit" name="submit" value="Upload"> -->
            </form>
    </div> <!-- end of centerme div -->


    
    {% endif %}

{% endblock %}